@media(min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 一番上の header */
.header1 {
  display: flex;
  padding: 1.25rem;
  margin-left: auto;
  margin-right: auto;
}

/* 一番上の headerのサイト名 */
.header1_site_name {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-decoration: inherit;
}

.header1_nav {
  margin-left:auto;
}

.btn_sign {
  border-width: 1px;
  border-radius: 0.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.header2 {
  display: flex;
  padding: 1.25rem;
  margin-left: auto;
  margin-right: auto;
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1));
}

.header2_nav {
  display: inline-flex;
  list-style-type: none;
}

.header2_nav_li {
  margin-left: 20px;
  margin-right: 20px;

}

.main {
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.main_content {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
  border-radius: 0.5rem;
  padding: 2rem;
}

.login_error {
  --tw-bg-opacity: 1;
  background-color: red;
  border-radius: 0.5rem;
  padding: 2rem;
  color: white;
}
