<% content_for :title do %>WanWan ログアウト<% end %>

<div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
  <div class="rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
    <p>ログアウトしました</p>
    <p>ご利用ありがとうございました。</p>
    <p>またのご利用をお待ちしております。</p>
  </div>
</div>