    <div class="tw_mb-5">
      <!-- エラーとOKの場合のcssを作成する -->
      <label for="en_dollar_value" class="form_label">受け取った米ドル*</label>
      <% if @errors[:deposit_quantity_msg].present? %>
        <p><%= @errors[:deposit_quantity_msg] %></p>
      <% end %>
      <%= form.text_field :deposit_quantity, class: @errors[:deposit_quantity_class], id: "default-datepicker", placeholder: "預入数量米ドル" %>
    </div>
    <div class="tw_mb-5">
      <label for="jp_en_rate" class="form_label">米ドル円レート* </label>
      <% if @errors[:deposit_rate_msg].present? %>
        <p><%= @errors[:deposit_rate_msg] %></p>
      <% end %>
      <%= form.text_field :deposit_rate, class: @errors[:deposit_rate_class], id: "default-datepicker", placeholder: "預入レート" %>
    </div>
    <div class="form_checkbox_section">
      <!-- flex items-center  -->
      <div class="h-5">
        <input id="auto_rate" type="checkbox" value="" class="form_checkbox" />
      </div>
      <label for="auto_rate" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">米ドル円レート自動反映</label>
    </div>


