    <div class="tw_mb-5">
      <label for="withdrawal_quantity" class="form_label">売却した米ドル*</label>
      <% if @errors[:withdrawal_quantity_msg].present? %>
        <p><%= @errors[:withdrawal_quantity_msg] %></p>
      <% end %>
      <%= form.text_field :withdrawal_quantity, class: @errors[:withdrawal_quantity_class], id: "default-datepicker", placeholder: "例:70.25" %>
    </div>
    <div class="tw_mb-5">
      <label for="exchange_en" class="form_label">受け取った日本円</label>
      <% if @errors[:exchange_en_msg].present? %>
        <p><%= @errors[:exchange_en_msg] %></p>
      <% end %>
      <%= form.text_field :exchange_en, class: @errors[:exchange_en_class], id: "default-datepicker", placeholder: "例:10000" %>
    </div>


