<% content_for :title do %>WanWan <%= t('views.dollar_yen_transactions.index') %><% end %>

<% content_for :header do %>
  <%= render "layouts/header", user: @user, notification: @notification %>
<% end %>

<section class="py-8 bg-white dark:bg-neutral-900">
  <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <div class="max-w-2xl mx-auto">
      <div class="divide-y divide-gray-200 dark:divide-neutral-700">

        <div class="py-8 first:pt-0 last:pb-0">
          <div class="flex gap-x-5">
            <svg class="shrink-0 mt-1 size-6 text-gray-500 dark:text-neutral-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"/><path d="M12 17h.01"/></svg>
            <div class="grow">
              <h3 class="md:text-lg font-semibold text-gray-800 dark:text-neutral-200">
                端数の処理について
              </h3>
              <p class="mt-1 text-gray-500 dark:text-neutral-500">
                端数の処理についてはすべて切り捨てになっています。
              </p>
              <p class="mt-1 text-gray-500 dark:text-neutral-500">
                計算結果が140.123ドルの場合は140.12になります。140.127の場合も140.12になります。
              </p>
              <p class="mt-1 text-gray-500 dark:text-neutral-500">
                日本円で10,000.123の場合は10,000になります。10,000.127の場合も10,000になります。
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<% content_for :footer do %>
  <%= render "layouts/footer" %>
<% end %>