@media(min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 一番上の header */
.header1 {
  display: flex;
  padding: 1.25rem;
  margin-left: auto;
  margin-right: auto;
}

/* 一番上の headerのサイト名 */
.header1_site_name {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-decoration: inherit;
}

.header1_nav {
  margin-left:auto;
}

.btn_sign {
  border-width: 1px;
  border-radius: 0.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.header2 {
  display: flex;
  padding: 1.25rem;
  margin-left: auto;
  margin-right: auto;
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1));
}

.header2_nav {
  display: inline-flex;
  list-style-type: none;
}

.header2_nav_li {
  margin-left: 20px;
  margin-right: 20px;
}

.header3 {
  display: flex;
  padding: 1.25rem;
  margin-left: auto;
  margin-right: auto;
  --tw-bg-opacity: 1;
  justify-content:space-between;
}

.header3_item {
  margin-right: 10px;
}

.information {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.information_kind {
  font-weight: 700;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(99 102 241 / var(--tw-bg-opacity, 1));
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  color: rgb(224 231 255 / var(--tw-text-opacity, 1));
}

.main {
  padding-top: 6rem;
  padding-bottom: 6rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.main_data {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.main_text_size {
  font-size: 3rem;
}
